<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63436719808-p36dt66uisllll0r8j2phfro3s2i3f7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63436719808-p36dt66uisllll0r8j2phfro3s2i3f7g</string>
	<key>API_KEY</key>
	<string>AIzaSyB193qW9YmY4GzwM-9Nl5BFymXbJm5K2uk</string>
	<key>GCM_SENDER_ID</key>
	<string>63436719808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nour.Ounana.Mobile</string>
	<key>PROJECT_ID</key>
	<string>fiche-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>fiche-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63436719808:ios:d58d87572ed75e79ddcf25</string>
</dict>
</plist>